<section class="contact-wrapper" data-aos="fade-up">
  <div class="container">
    <h2 class="fw-bold text-center mb-5">Entre em Contato</h2>

    <form class="mx-auto" style="max-width:600px">
      <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control" placeholder="Seu nome" [(ngModel)] = "name" name = "name">
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" placeholder="seu@email.com" [(ngModel)] = "email" name = "email">
      </div>

      <div class="mb-3">
        <label class="form-label">Mensagem</label>
        <textarea class="form-control" rows="5" placeholder="Digite sua mensagem" [(ngModel)] = "message" name = "message"></textarea>
      </div>

      <button class="btn btn-primary w-100 py-2" (click)="send()">Enviar Mensagem</button>
    </form>
  </div>
</section>
