<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
  <div class="container">
    <a class="navbar-brand fw-bold" routerLink="/">Caiovcpdev</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav align-items-lg-center">
        <li class="nav-item">
          <a routerLink="/" routerLinkActive="active" class="nav-link px-3">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/projects" routerLinkActive="active" class="nav-link px-3">Projetos</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact" routerLinkActive="active" class="nav-link px-3">Contato</a>
        </li>

        <!-- Redes Sociais -->
        <li class="nav-item ms-3">
          <a href="https://github.com/caiovcpdev" target="_blank" class="nav-link">
            <i class="bi bi-github fs-4"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.linkedin.com/in/caiovcpdev" target="_blank" class="nav-link">
            <i class="bi bi-linkedin fs-4 text-primary"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
